<div *ngIf="!isUserManager">
  <div *ngFor="let policy of policies">
    <h6>{{policy.name}}</h6>
    <p>{{policy.body}}</p>
  </div>
</div>

<div *ngIf="isUserManager">
  <p><strong>Instructions: </strong>
  Edit policies in the text areas below. Use the notice response tool to log requests, notices and disputes.
  </p>
  <div *ngFor="let policy of policies; let i = index">
    <h6>{{policy.name}}</h6>
    <textarea rows="4" cols="50" [(ngModel)]="policy.body">
    </textarea>
    <button (click)="save(i)">Save</button>
  </div>
</div>

<app-notice-view *ngIf="token"></app-notice-view>

<div *ngIf="!isUserManager">
  Email: <input type="text" [(ngModel)]="request.email"/>
  Title: <input type="text" [(ngModel)]="request.title"/>
  Concern: <input type="text" [(ngModel)]="request.concern"/>
  <button (click)="submitForm()">Submit</button>
</div>