<mat-tab-group>
  <mat-tab label="Store">
    <app-store-items sortLimitTen="false"></app-store-items>
  </mat-tab>
  <mat-tab label="Shopping Cart">
    <app-shopping-cart></app-shopping-cart>
  </mat-tab>
  <mat-tab label="My Wish Lists">
    <app-wishlist-view me="true"></app-wishlist-view>
  </mat-tab>
  <mat-tab label="Other Wish Lists">
    <app-wishlist-view me="false"></app-wishlist-view>
  </mat-tab>
  <mat-tab label="DMCA">
      <app-policy-view></app-policy-view>
  </mat-tab>
</mat-tab-group>