<br/>
<table>
  <thead>
    <tr>
      <td>Item Name</td>
      <td>Quantity</td>
      <td>Price</td>
      <td>Decrement</td>
      <td>Increment</td>
      <td>Remove</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let element of cartItems; let i = index">
      <td>{{getName(i)}}</td>
      <td>{{element.quantity}}</td>
      <td> {{getPrice(i)}}</td>
      <td><button mat-button color="primary" (click)="decrement(i)">-</button></td>
      <td><button mat-raised-button color="primary" (click)="increment(i)">+</button></td>
      <td><button mat-raised-button color="warn" (click)="remove(i)">Remove</button></td>
    </tr>
  </tbody>
</table>

<h4>Price: ${{price}}</h4>

<button mat-button color="primary" (click)="clear()">Clear</button>
<button mat-button color="primary" (click)="buy()">Buy</button>
